<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main/styles.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="main/script.js" defer></script>
    <!-- <script src="main/mixitup.min.js" defer></script> -->
    <title>Portfolio</title>
  </head>
  <body>
    <!-- Header site -->
    <header>
      <div class="logo"><span>I</span>rsyad.</div>
      <ul class="navlist">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#portfolio">Project</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <div id="menu-icon" class="bx bx-menu"></div>
    </header>
    <!-- home section -->
    <section id="home" class="home">
      <div class="home-content">
        <h1>Hi I'm Irsyad Murtadha</h1>
        <div class="change-text">
          <h3>And I'm</h3>
          <h3>
            <span class="word">Nuclear_Engineering_Graduate</span>
            <span class="word">Machine_Learning_Enthusiast</span>
            <span class="word">Software_Engineer_Apparentice</span>
          </h3>
        </div>
        <p>
          In summary I'm Nuclear Engineering Graduate with interest in
          Machine/Deep Learning and Software Development
        </p>

        <div class="info-box">
          <div class="email-info">
            <h5>Email :</h5>
            <span>irsyad493@gmail.com</span>
          </div>
        </div>

        <div class="btn-box">
          <a href="/download_cv" class="btn">Download CV</a>
        </div>

        <div class="social-icons">
          <a href="https://www.facebook.com/irsyad.murtadha" target="_blank"
            ><i class="bx bxl-facebook"></i
          ></a>
          <a href="https://www.instagram.com/esharkirsyad/" target="_blank"
            ><i class="bx bxl-instagram"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/irsyad-murtadha-a122a51a2/"
            target="_blank"
            ><i class="bx bxl-linkedin"></i
          ></a>
          <a href="https://github.com/irsyadSET2023" target="_blank"
            ><i class="bx bxl-github"></i
          ></a>
        </div>
      </div>
      <div class="home-image">
        <div class="img-box">
          <img src="main/assests/irsyad2.png" alt="irsyad1" />
        </div>

        <div class="liquid-shape">
          <svg
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            id="blobSvg"
          >
            <path fill="#12f7ff">
              <animate
                attributeName="d"
                dur="10000ms"
                repeatCount="indefinite"
                values="M441.5,295.5Q407,341,376.5,378.5Q346,416,298,410Q250,404,208.5,399Q167,394,103,383Q39,372,56,311Q73,250,69.5,197Q66,144,96.5,90.5Q127,37,188.5,42Q250,47,297.5,66.5Q345,86,396,111Q447,136,461.5,193Q476,250,441.5,295.5Z;
                M432,304Q437,358,400.5,402.5Q364,447,307,442.5Q250,438,203.5,424Q157,410,103,388Q49,366,37.5,308Q26,250,65,208Q104,166,132.5,130.5Q161,95,205.5,76Q250,57,288,87.5Q326,118,359,143Q392,168,409.5,209Q427,250,432,304Z;
                M441.66409,309.79845Q457.87443,369.59691,397.02093,384.33151Q336.16743,399.06612,293.08371,430.90309Q250,462.74007,191.90309,457.24446Q133.80619,451.74886,116.91629,394.18502Q100.02638,336.62117,60.69381,293.31059Q21.36124,250,66.54625,210.31938Q111.73127,170.63876,129.79406,121.60904Q147.85684,72.57932,198.92842,56.67182Q250,40.76433,302.68941,54.25554Q355.37883,67.74674,382.96694,112.46148Q410.55505,157.17622,418.0044,203.58811Q425.45375,250,441.66409,309.79845Z
                "
              ></animate>
            </path>
          </svg>
        </div>
        <div class="liquid-shape">
          <svg
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            id="blobSvg"
          >
            <path fill="#12f7ff">
              <animate
                attributeName="d"
                dur="10000ms"
                repeatCount="indefinite"
                values="M441.5,295.5Q407,341,376.5,378.5Q346,416,298,410Q250,404,208.5,399Q167,394,103,383Q39,372,56,311Q73,250,69.5,197Q66,144,96.5,90.5Q127,37,188.5,42Q250,47,297.5,66.5Q345,86,396,111Q447,136,461.5,193Q476,250,441.5,295.5Z;
                M432,304Q437,358,400.5,402.5Q364,447,307,442.5Q250,438,203.5,424Q157,410,103,388Q49,366,37.5,308Q26,250,65,208Q104,166,132.5,130.5Q161,95,205.5,76Q250,57,288,87.5Q326,118,359,143Q392,168,409.5,209Q427,250,432,304Z;
                M441.66409,309.79845Q457.87443,369.59691,397.02093,384.33151Q336.16743,399.06612,293.08371,430.90309Q250,462.74007,191.90309,457.24446Q133.80619,451.74886,116.91629,394.18502Q100.02638,336.62117,60.69381,293.31059Q21.36124,250,66.54625,210.31938Q111.73127,170.63876,129.79406,121.60904Q147.85684,72.57932,198.92842,56.67182Q250,40.76433,302.68941,54.25554Q355.37883,67.74674,382.96694,112.46148Q410.55505,157.17622,418.0044,203.58811Q425.45375,250,441.66409,309.79845Z
                "
              ></animate>
            </path>
          </svg>
        </div>
      </div>
    </section>

    <!-- About Section -->

    <section id="about" class="about">
      <div class="img-about">
        <img src="main/assests/irsyad3.png" alt="irsyad2" />
      </div>
      <div class="about-content">
        <span>Let me introduce myself</span>
        <h2>About Me</h2>
        <p>
          I wasn't concerned with fame, fortune, or the pursuit of material
          possessions. Instead, my focus was on embracing the present moment and
          finding fulfillment in the simplest of joys.
        </p>
        <p>
          I had a thirst for knowledge and growth, not for the sake of
          impressing others, but to expand my understanding of the world and
          myself. Learning was my lifelong companion, and I sought wisdom from
          all sources, be it books, experiences, or the stories of those I met
          along the way.
        </p>

        <div class="btn-box">
          <a href="#education" class="btn">Read More!</a>
        </div>
      </div>
    </section>
    <!-- Education -->
    <section class="education" id="education">
      <h2>My <span>Journey</span></h2>

      <div class="education-row">
        <div class="education-column">
          <h3 class="title">Education</h3>

          <div class="education-box">
            <div class="education-content">
              <div class="content">
                <div class="year">
                  <i class="bx bxs-calendar"></i>Sep 2017-Aug 2021
                </div>
                <h3>Nuclear Engineering - UTM Skudai</h3>
                <p>1. Graduated with CGPA: 3.28</p>
                <p>
                  2. Writing MATLAB code for simulation program to visualize
                  neutron flux in homogeneous and thermal reactor for Final Year
                  Project. The code is delivered to the lecturer for assisting
                  the junior students for better understanding of visualizing
                  neutron flux
                </p>
                <p>
                  3. Group Leader in Nuclear Power Plant Design. Creating a
                  documentation for Advance Pressurized Water Reactor
                </p>
                <p>
                  4. Sports and Special Task Officer of Nuclear Engineering
                  Student Society (NESS) for 2019/2020 session. Managing the
                  society's members data and assisting in organizing the events
                  held by the society's members.
                </p>
                <p>
                  5. Representing Rugby College Team for UTM Sports Day in
                  2017/2018 (Kolej Tun Hussein Onn (KTHO)) and 2019/2020 (Kolej
                  Datin Seri Endon (KDSE)) session.
                </p>
              </div>
            </div>
            <div class="education-content">
              <div class="content">
                <div class="year">
                  <i class="bx bxs-calendar"></i>Jan 2022- Apr 2022
                </div>
                <h3>Experiencing Sensor and IOT | - KISMEC</h3>
                <p>
                  1. Learn basics of networking system (Wi-Fi Configuration,
                  Cable Installation and etc.).
                </p>
                <p>
                  2. Utilizing microcontrollers (Arduino, Esp32) by using
                  Arduino Programming Language.
                </p>
                <p>
                  3. Implementation and understanding of the MQTT Broker
                  (Hivemq, AdaFruit).
                </p>
                <p>
                  4. Create some IoT mini projects (Temperature and Humidity
                  Monitoring, Voice Command, Servo Motor Control, etc.).
                </p>
                <p>
                  5. Understand the implementation of machine to machine
                  communication through the use of Bosch IoT Gateway.
                </p>
                <p>
                  6. Learn about the application and importance of sensors
                  technology in Internet of Things.
                </p>
                <p>
                  7. Practice programming the Bosch XDK 110 sensors to send data
                  to Bosch IoT Gateway.
                </p>
                <p>
                  8. Store data in database (SQL) and implement basic data
                  visualization.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="education-column">
          <h3 class="title">Experience</h3>

          <div class="education-box">
            <div class="education-content">
              <div class="content">
                <div class="year"><i class="bx bxs-calendar"></i>2022-2023</div>
                <h3>Research Officer - MIMOS Berhad</h3>
                <p>
                  1. Collecting high frequency data (Instantaneous Voltage and
                  Current) using a Digitizer Card attached to a computer.
                </p>
                <p>
                  2. Developing data preprocessing modules in Python to extract
                  features from high frequency data.
                </p>
                <p>
                  3. Conducting research on Non-Intrusive Appliance Load
                  Monitoring (NIALM) algorithms by analyzing research papers and
                  providing feedback to the team.
                </p>
                <p>
                  4. Implementing research methods from papers using Python
                  (Jupyter Notebook) and MATLAB (MATLAB Live Editor).
                </p>
                <p>
                  5. Training Machine Learning models using extracted features
                  from high frequency data with Python Scikit-learn Package.
                </p>
                <p>
                  6. Building a Python simulator with multithreading programming
                  to simulate the sensor performance.
                </p>
                <p>
                  7. Designing monitoring dashboard for data from Python
                  Simulator using IOT ThingsBoard platform by connecting it with
                  Python Simulator.
                </p>
                <p>
                  8. Providing two research reports for company internal
                  evaluation.
                </p>
                <p>9. Conducting a Survey Report for marketing strategy.</p>
                <p>
                  10. Becoming the main author of a research paper for IEEE
                  Control & System Graduate Research Colloquium (ICSGRC 2023).
                </p>
              </div>
            </div>

            <div class="education-content">
              <div class="content">
                <div class="year">
                  <i class="bx bxs-calendar"></i>Jul 2023-Present
                </div>
                <h3>Software Engineer Talent - Invoke Solutions</h3>
                <p>
                  1. Undergo comprehensive training provided by the company,
                  with the goal of becoming a skilled full-stack engineer.
                </p>
                <p>
                  2. I am committed to learning and mastering various
                  technologies and tools to contribute effectively to the
                  development of innovative and impactful software solutions.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Skills -->
    <section class="skills" id="skills">
      <div class="main-text">
        <span>Technical and Professional</span>
        <h2>My Skills</h2>
      </div>

      <div class="skill-main">
        <div class="skill-left">
          <h3>Technical Skills</h3>
          <div class="skill-bar">
            <div class="info">
              <p>Python <i class="bx bxl-python"></i></p>
              <p>70%</p>
            </div>
            <div class="bar">
              <span class="python"></span>
            </div>
          </div>
          <div class="skill-bar">
            <div class="info">
              <p>Javascript <i class="bx bxl-javascript"></i></p>
              <p>50%</p>
            </div>
            <div class="bar">
              <span class="javascript"></span>
            </div>
          </div>
          <div class="skill-bar">
            <div class="info">
              <p>HTML <i class="bx bxl-html5"></i></p>
              <p>60%</p>
            </div>
            <div class="bar">
              <span class="html"></span>
            </div>
          </div>
          <div class="skill-bar">
            <div class="info">
              <p>CSS <i class="bx bxl-css3"></i></p>
              <p>40%</p>
            </div>
            <div class="bar">
              <span class="css"></span>
            </div>
          </div>
        </div>
        <div class="skill-right">
          <h3>Professional Skills</h3>
          <div class="professional">
            <div class="box">
              <div class="circle" data-dots="80" data-percent="90"></div>
              <div class="text">
                <big>90%</big>
                <small>Team Work</small>
              </div>
            </div>
            <div class="box">
              <div class="circle" data-dots="80" data-percent="90"></div>
              <div class="text">
                <big>90%</big>
                <small>Emphaty</small>
              </div>
            </div>
            <div class="box">
              <div class="circle" data-dots="80" data-percent="80"></div>
              <div class="text">
                <big>80%</big>
                <small>Public Speaking</small>
              </div>
            </div>
            <div class="box">
              <div class="circle" data-dots="80" data-percent="85"></div>
              <div class="text">
                <big>85%</big>
                <small>Time Management</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="portfolio" class="portfolio">
      <div class="main-text">
        <span>My Portfolio</span>
        <h2>List of my Project</h2>
      </div>

      <div class="container">
        <div class="filter-buttons">
          <button class="btn" data-filter="all">All</button>
          <button class="btn" data-filter=".engineering">Engineering</button>
          <button class="btn" data-filter=".ml">Machine/Deep Learning</button>
          <button class="btn" data-filter=".set">SET Project</button>
        </div>

        <div class="portfolio-gallery">
          <div class="port-box mix engineering">
            <div class="port-image">
              <img src="main/assests/Neutron_Flux.png" alt="" />
            </div>
            <div class="port-content">
              <h3>Neutron Flux Calculator</h3>
              <p>Determmine the reactor output power.</p>
              <a
                href="https://github.com/irsyadSET2023/neutron-flux-calculator"
                target="_blank"
                ><i class="bx bx-link-external"></i
              ></a>
            </div>
          </div>
          <div class="port-box mix ml">
            <div class="port-image">
              <img src="main/assests/NIALM.png" alt="" />
            </div>
            <div class="port-content">
              <h3>Airem Project</h3>
              <p>Artificial Intelligence Residential Monitoring</p>
              <a
                href="https://demo.thingsboard.io/dashboards/7aa80370-2a22-11ee-9079-75f587c23e37"
                target="_blank"
                ><i class="bx bx-link-external"></i
              ></a>
            </div>
          </div>
          <div class="port-box mix ml">
            <div class="port-image">
              <img src="main/assests/face_mask_detector.jpeg" alt="" />
            </div>
            <div class="port-content">
              <h3>Face Mask Detector</h3>
              <p>Detect the people who are wearing or not wearing the mask</p>
              <a
                href="https://github.com/irsyadSET2023/face-mask-detector"
                target="_blank"
                ><i class="bx bx-link-external"></i
              ></a>
            </div>
          </div>
          <div class="port-box mix set">
            <div class="port-image">
              <img src="main/assests/one-piece-opening-playlist.png" alt="" />
            </div>
            <div class="port-content">
              <h3>One Piece OP Playlist</h3>
              <p>My favourite One Piece Opening.</p>
              <a
                href="https://htmlpreview.github.io/?https://github.com/irsyadSET2023/set-2023-day-6/blob/main/assessment/index1.html"
                target="_blank"
                ><i class="bx bx-link-external"></i
              ></a>
            </div>
          </div>
          <div class="port-box mix set">
            <div class="port-image">
              <img src="main/assests/landing-website.png" alt="" />
            </div>
            <div class="port-content">
              <h3>Landing Website</h3>
              <p>Assessment in creating landing website</p>
              <a
                href="https://htmlpreview.github.io/?https://github.com/irsyadSET2023/set-2023-day-5/blob/main/assessment/3/index.html"
                target="_blank"
                ><i class="bx bx-link-external"></i
              ></a>
            </div>
          </div>
          <div class="port-box mix set">
            <div class="port-image">
              <img src="main/assests/pokemon-game.png" alt="" />
            </div>
            <div class="port-content">
              <h3>Pokemon Game</h3>
              <p>Simple Pokemon Game</p>
              <a
                href="https://htmlpreview.github.io/?https://github.com/irsyadSET2023/set-2023-day-9/blob/main/assessment/pokemon_game/index.html"
                target="_blank"
                ><i class="bx bx-link-external"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- contact section -->
    <section id="contact" class="contact">
      <div class="main-text">
        <span>Ask me Question</span>
        <h2>Contact Me</h2>
      </div>

      <form action="/contact" method="post">
        <input type="text" placeholder="Your Name" name="name" />
        <input type="text" placeholder="Your Email" name="email" />
        <input type="text" placeholder="Your Address" name="address" />
        <input type="text" placeholder="Phone Number" name="phone_number" />
        <textarea
          name="message"
          id=""
          cols="30"
          rows="10"
          placeholder="Your Message"
        ></textarea>
        <div class="btn-box formBtn">
          <button type="submit" class="btn">Send Message</button>
        </div>
      </form>
    </section>
    <!-- footer section -->
    <footer>
      <p>Copyright &copy; 2023 by irsyad-murtadha.</p>
      <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
    </footer>
    <script src="main/mixitup.min.js"></script>
  </body>
</html>
